.app{
  display: flex;

}
.inp{
  position: relative;
  left: 550px;
  margin-top: 150px;
  padding: 5px;
}
.div{
  position: relative;
  left: 550px;
}
input{
  border:solid 2px black;
  height: 30px;
  background-color:lightblue;
  color: black;
}
button{
  background-color: blue;
  height: 30px;
  width: 150px;
  color: white;
  border: solid 2px black;
  border-radius: 50px;
}
button:hover{
  background-color: black;
  cursor: pointer;
}